@import "tailwindcss";

:root {
  --background: #f9f9fc;
  --foreground: #2d3339;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-manrope {
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
}

/* Custom transitions and glassmorphism */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #acb3ba;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b41b3;
}
